.card{
  margin: 2rem 2rem 2rem 2rem;
  padding:1.5rem;
  width:320px;
  transition: transform .3s ease;
  box-shadow: 0 0 10px 0px;
  cursor: pointer;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 6px;
}

.card:hover{
  transform: scale(1.08);
  box-shadow: 0 0 20px 2px;

}
.card_title{
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "Arial";
  padding: 0.5rem;
  margin: 0.5rem;
}
.card_image{
  display:flex;
  justify-content: center;

}

.cards-container{
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 35px;
}
