.card{
  margin: 2rem 2rem 2rem 0;
  padding:1.5rem;
  width:250px;
  box-shadow: 0 0 28px 4px;
  transition: transform .3s ease;
  cursor: pointer;
  display:flex;

  flex-wrap: wrap;


}

.card:hover{
  transform: scale(1.1);

}
.card_title{
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "Arial";
}
.card_image{
  display:flex;
  justify-content: flex-end;

}

.cards-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;

}
