.suggestions {
    background-color: black;
    color: white;
    position: absolute;
    top: 100%;
    min-width: 100%;
    max-width: fit-content;
}

.suggestions-item {
    width: fit-content;
}

.suggestion-active {
    background-color: #4d4d4d;
    color: white;
}
