h1 {
  color: #133667;
}

.songs {
  background-image: url("../../assets/images/music.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.song {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  min-width: 240px;
  transition: transform 0.3s ease-in-out;
}

.song:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.song-img {
  width: 100%;
  height: 66%;
  color: #133667;
}

.song-logo {
  margin: auto 3px;
  height: 100%;
}
